		body {
			margin: 0px;
		}
		section {
			max-width: 1080px;
			margin-left: auto;
			margin-right: auto;
		}
		section {
			font-family: Roboto, sans-serif;
		}
		.form {
			display: block;
			clear: both;
			width: 540px;
			max-width: 100%;
			margin: 0px auto;
		}
		.input {
			cursor: pointer;
			padding: 27px 18px 14px;
			font-size: 17px;
  			color: #333333;
			margin: 0px;
			display: block;
			box-sizing: border-box;
			border: 0px;
			border-radius: 6px;
			width: 100%;
			float: left;
			background-color: #eef2f7;
			transition: border 0.5s;
		}
		.input:hover {
			border: 1px #74a3c7 solid;
		}
		.input::placeholder {
			color: rgba(0,0,0,0);
			font-size: 17px;
			opacity: 0.6;
		}
		.wrong__span {
			background-color: rgba(0,0,0,0);
			border: solid 1px #d0011b;
		}
		.wrong::after {
			content: url("stroke-1-copy-2-fill-2-copy-2-stroke-1-copy-2.svg");
			display: block;
			float: left;
			width: 24px;
			height: 24px;
			margin: 17px 0px 21px -48px;
		}
		.wrong::before {
			display: block;
			position: absolute;
			content: "Для заполнения этого поля не допустимо использовать буквы латинского алфавита";
			font-size: 13px;
			margin-top: 77px;
  			color: #d0021b;
		}
		.email {
			content: url("stroke-1-fill-2-copy-3.svg");
			display: block;
			float: left;
			width: 24px;
			height: 24px;
			margin: 17px 0px 21px -48px;
			cursor: pointer;
			position: relative;
		}
		.note {
			position: absolute;
			display: block;
			font-size: 13px;
  			line-height: 1.38;
  			color: #9299a2;
  			width: 284px;
  			padding: 16px;
  			box-sizing: border-box;
  			border-radius: 6px;
  			margin-left: 200px;
  			margin-top: -19px;
  			background-color: #ffffff;
  			border: solid 1px #dddfe0;
  			visibility: hidden;
  			opacity: 0;
  			transition: visibility 0s, opacity 0.5s linear;
		}
		.email:hover + .note {
			visibility: visible;
			opacity: 1;
		}
		.cont {
			position: relative;
			width: 100%;
			clear: both;
			float: left;
			margin: 0px 0px 24px;
		}
		.wrong {
			margin-bottom: 54px;
		}
		.titles {
		  position: absolute;
		  height: 13px;
		  opacity: 0.6;
		  font-family: Roboto;
		  font-size: 13px;
		  color: #74a3c7;
		  top: 12px;
		  display: block;
		  padding-left: 19px;
		  box-sizing: border-box;
		  width: 100%;
		}
		.choose {
			width: 100%;
			float: left;
			margin-bottom: 24px;
		}
		.choose__cont {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}
		.h3 {
  width: 245px;
  height: 24px;
  font-family: Roboto;
  margin: 15px auto 27px;
  font-size: 21px;
  font-weight: 300;
  text-align: center;
  color: #333333;
		}
		.choose__but {
			min-width: 200px;
			  max-width: 258px;
			  border-radius: 6px;
			  background-color: #ffffff;
			  border: solid 1px #dddfe0;
			  display: flex;
			  flex-direction: row-reverse;
			  justify-content: space-between;
			padding: 18px;
			margin-bottom: 24px;
			transition: background 0.5s;
			cursor: pointer;
		}
		.choose__but:hover {
			background: #ccaa0d;
		}
		.choose__text {
			line-height: 30px;
			color: #74a3c7;
			vertical-align: middle;
			font-size: 17px;
		}
		.choose__radio {
			content: url(oval-48-copy.svg);
			width: 30px;
			height: 30px;
		}
		.choose__radio:checked + .choose__text  {
			color: #333333;
		}
		.choose__radio:checked {
			content: url(group-15.svg);
		}

		.form button {
			display: block;
			margin: 0px auto 300px;
		}


        .simple h2, .form h2, h2.tagh2 {
            margin-bottom: 50px;
            font-family: Roboto, sans-serif;
            font-size: 50px;
            font-weight: 300;
            width: 100%;
            text-align: center;
            color: #333333;
        }

		.form h2 {
			margin-bottom: 67px;
}
		h2 {
			transition: font-weight 1s;
		}
		h2:hover {
			font-weight: 400;
		}

        .simple {
            margin: 0px 126px 67px;
        }
        .simpleInput {
            border-radius: 6px;
            border: solid 1px #dddfe0;
            padding: 29px 36px;
            font-size: 17px;
            color: #333;
            box-sizing: border-box;
            width: 100%;
        }
        .simpleInput::placeholder {
            color: #9299a2;
            font-size: 17px;
        }

		.banner {
			transition: background 2s ease-in 100ms;
			height: 413px;
			width: 100%;
			margin-bottom: 82px;
			background: linear-gradient(to right, #1489e7, #003e82);
			/*background-image: url("img/cards.png") no-repeat;*/
		}
		.banner:hover {
			background: #ccaa0d;
		}
		.info {
			margin-left: 14px;
			float: right;
			z-index: 99;
			margin-right: 182px;
			max-width: 342px;
			font-family: Roboto;
			color: #ffffff;
			padding-top: 91px;
			padding-bottom: 74px;
		}
		.info h2 {
			z-index: 99;
		  font-size: 50px;
		  font-weight: 100;
		  line-height: 1;
		  margin-bottom: 18px;
		}
		.info p {
			font-size: 16px;
			line-height: 1.5;
			margin: 0px 0px 20px;
		}
		button {
			  width: 212px;
			  height: 62px;
			  border-radius: 6px;
			  background-color: #ffdd2d;
			  font-size: 17px;
			  line-height: 1.41;
			  text-align: center;
			  color: #333333;
			  border-width: 0px;
			  cursor: pointer;
			  margin: 0px;
			  transition: width 1s;
		}
		button:hover {
			width: 260px;
		}
		.img-container {
		  	z-index: 98;
			height: 413px;
			width: 542px;
			box-sizing: border-box;
		max-width: 100%;
		  background: url("cards.png");
		  content: "";
		  position: absolute;
		  background-position: -35px -60px;
		  float: left;
		}
		.img-container {
			z-index: 98;
		}



				section {
			max-width: 1080px;
			margin-left: auto;
			margin-right: auto;
		}
		.menu {
			width: 100%;
			box-sizing: border-box;
			padding: 0px;
			height: 65px;
			background-color: #3e4757;
			text-align: center;
		}
		.menu__cont {
			margin: 0px;
			height: 65px;
			padding: 0px 126px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			vertical-align: middle;
		}
		.menu__span {
			height: 15px;
			display: inline-block;
			padding: 0px;
			/*margin: 0px auto;*/
		}
		.menu__link:hover {
			border-bottom: 3px solid #ffdd2d;
			padding-bottom: 22px;
		}
		.menu__link {
			transition: border-bottom 0.5s linear;
			text-decoration: none;
			color: white;
			font-family: 'Roboto', sans-serif;
			display: inline-block;
			padding: 25px 0px;
			font-size: 13px;
			letter-spacing: 0.9px;
		}

        .header {
            padding: 15px 126px;
            display: flex;
            flex-flow: row;
            justify-content: space-between;
        }
        .headerLogo {
        	cursor: pointer;
        	transition: width 3s;
            width: 197px;
            height: 65px;
        }
        .headerLogo:hover {
        	width: 250px;
        }
        .headerContact {
        	cursor: pointer;
        	transition: color 1s;
            margin: 25px 0px;
            font-size: 21px;
        }
        .headerContact:hover {
        	color: #ccaa0d;
        }

		.tags {
			float: left;
			margin: 0px 126px 76px;
			padding: 12px;
			border-radius: 6px;
  			border: solid 1px #dddfe0;
		}
		.tag {
			cursor: pointer;
			display: block;
			float: left;
			max-width: 300px;
			box-sizing: border-box;
			padding: 14px 8px 13px 11px;
			  border-radius: 6px;
			  background-color: #eef2f7;
			margin: 6px;
			text-overflow: ellipsis;
			white-space: nowrap;
			color: #333333;
			overflow: hidden;
			line-height: 18px;
		}
		.new-tag {
			float: left;
			box-sizing: border-box;
			padding: 14px 35px 13px 11px;
			border-radius: 6px;
			white-space: nowrap;
			margin: 6px;
			color: #333333;			
		}
		.tag:hover > .tag__text {
			opacity: 0.5;
		}
		.tag__text {
			float: left;
			display: block;
			box-sizing: border-box;
			max-width: 230px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			transition: opacity 0.5s;
		}
		.close {
			display: inline-block;
			float: left;
			cursor: pointer;
			line-height: 11px;
			vertical-align: middle;
			content: url("group-copy.svg");
			margin: 3.5px 12px 3.5px 7px;
			width: 11px;
			transition: margin-top 0.5s;
		}
		.close:hover {
			margin-top: -3px;
		}



		@media only screen and (max-device-width: 640px) {
			section {
				width: 100%;
			}
			.choose__cont {
				flex-flow: column;
			}
			.header {
				padding: 13px 20px 15px 19px;
			}
			.headerContact {
				height: 20px;
				font-size: 17px;
			}
			.headerLogo {
				content: url(logo-mobile.svg);
				width: 50px;
			}
			.menu {
				display: none;
			}
			.header::after {
				content: url(hamburger.svg);
				display: block;
	        	width: 25px;
	        	height: 20px;
	        	margin: 25px 0px;
			}
			.banner {
				height: 390px;
				background-image: url('cards.png'), linear-gradient(to right, #1489e7, #003e82);
				background-position: 0px 95px, 0 0;
				background-repeat: no-repeat;
				background-size: 100%;
				margin-bottom: 29px;
			}
			.img-container {
				display: none;
				z-index: 1;
				height: 390px;
				background-position: -35px -60px ;
			}
			.info {
				width: 100%;
				float: none;
				margin: 0px auto;
				z-index: 50;
				text-align: center;
				padding: 26px 0px 30px;
			}
			.info>* {
				margin-left: auto;
				margin-right: auto;
			}
			.info p {
				margin-bottom: 141px;
			  font-size: 17px;
			  line-height: 1.41;
			}
			.info h2 {
				max-width: 239px;
				margin: 0px auto 7px;
				font-size: 30px;
				line-height: 1.2;
			}
			h2.tagh2 {
				  font-size: 30px;
				  font-weight: 300;
				  line-height: 1.2;
				  margin-bottom: 24px;
			}
			.tags {
				margin: 0px 18px 52px;
			}
			.tag {
				box-sizing: border-box;
				max-width: 250px;
			}
			.tag__text {
				max-width: 201px;
			}
			.form h2 {
				font-size: 24px;
  				font-weight: 300;
  				margin-bottom: 26px;
			}
			.form {
				padding: 0px 18px;
				box-sizing: border-box;
			}
			.wrong {
				margin-bottom: 66px;
			}
			.choose__but {
				width: 100%;
				box-sizing: border-box;
				max-width: 100%;
			}

		}
